#_Home-Scroll{
  height: 100vh;
  background-color: #ffffff;
  position : absolute;
}
#Rectangle-1-copy {
  width: 33.657182512144345vw ;
  height: 150vh;
  background-color: ffffff;
  box-shadow: 0px 6px 24px 0 rgba(0, 0, 0, 0.14);
  margin-left: 0vw;

}
.nopadding
{
margin : 0 !important;
padding : 0 !important;
}
.nopadding1
{
left-padding:0;
}
#shutterstock_227863141{
width: /*66.5vw*/100%;

height: 89.0891472868217vh; 
margin-left: 0vw;

background: url(Learning_fun.jpg) no-repeat center center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-position : absolute;
}


}

#Rect2{
width: 67.86953504510757vw;
height: 100vh;
}
#Shape-17{
border-right: solid 1px #000000;
}
#Rectangle-4 {
  
  background-color: #b8dcdc;
  width: 17.418459403192227vw;
  height: 21.31782945736434vh;
  border-radius: 8px;
  margin-left:3.8861901457321304vw;
  margin-top:2.2286821705426356vh; 
  float:left;
}
#Rectangle-4-copy {
  width: 17.418459403192227vw;
  height: 21.31782945736434vh;
  border-radius: 8px;
  background-color: #d3e192;
  margin-left:3.8861901457321304vw;
  margin-top:2.2286821705426356vh; 
  float:left;
}

#Rectangle-4-copy-2 {
  width: 17.418459403192227vw;
  height: 21.31782945736434vh;
  border-radius: 8px;
  background-color: gray;
  margin-top: 2.2286821705426356vh;
  margin-left:  3.8861901457321304vw;
float:left;
}


#Rounded-Rectangle-1 {
  width:  24.91963913948647vw;
  height: 21.608527131782946vh;
  
  background-color: #ffffff;
  box-shadow: 0px 6px 24px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px rgba(161, 115, 169, 0.45);
  margin: 6.5515503875969vh 0vw 0vh 8.813324080499653vw;
  float:bottom;
  padding : 0;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
}


.ce6ee6705c0a35988f3d86700--perfect-hair-color-emmy-rossum {
  width: 2.9840388619014573vw;
  height: 4.166666666666667vh;
	
margin-top : 1.8410852713178294vh;
margin-left : 9.646079111727966vw;
}

.Welcome-Andrea {
  width: 10.96vw;
  height: 1.73vh;
  font-family: Montserrat;
  font-size: 2.22vh;
  line-height: 1.56;
  text-align: left;
  color: #333333;
  
margin-top : 1.6410852713178294vh;
margin-left : 6.146079111727966vw;

}
.Shape-10 {
  width: 1.24vw;
  height: 2.1vh;
  object-fit: contain;
  background-color: transparent;
  margin-left:9.168494101318529vw;
margin-top : 1.8410852713178294vh;
}
.Shape-10-copy {
  width: 1.25vw;
  height: 2.10vh;
  background-color: transparent;
  left:59.47vw;
  top:18.54vh;
}
.layer-1 {
  width: 0.90vw;
  height: 1.23vh;
  font-family: Montserrat;
  font-size: 1.73vh;
  text-right: left;
  color: #333333;
  margin-top : -3.1410852713178294vh;
margin-left : 23.146079111727966vw;
 

}
.-Badges-earned {
  width: 7.98vw;
  height: 1.73vh;
  font-family: Montserrat;
  font-size: 1.73vh;
  line-height: 2;
  text-align: left;
  color: #333333;
 /* top: 14.58vh;
  left: 3.88vw;*/
margin-top : -3.1410852713178294vh;
margin-left : 3.246079111727966vw;
}
.Shape-21 {
  width: 1.59vw;
  height: 2.47vh;
  object-fit: contain;
  background-color:transparent;
  /*top: 23.36vh;
  left: 1.73vw;*/
margin-top : 0.6410852713178294vh;
margin-left : 1.146079111727966vw;

}
/*
.Shape-20 {
  width: 1.17vw;
  height: 2.59vh;
  object-fit: contain;
  background-color: transparent;
 top: 19.03vh;
  left: 1.87vw;
}
*/
.Shape-20 {
  width: 17px;
  height: 21px;
  background-color: #333333;
margin-top : 1.8410852713178294vh;
margin-left : 1.246079111727966vw;
  object-fit: contain;

}

.Shape-19 {
  width: 1.66vw;
  height: 2.71vh;
  object-fit: contain;
  background-color: transparent;
 /* top: 14.58vh;
  left: 2.73vw;*/
margin-top : 1.6410852713178294vh;
margin-left : 1.146079111727966vw;

}
.Participated-in-8-discussions {
  width: 13.6vw;
  height:1.73vh;
  font-family: Montserrat;
  font-size: 1.73vh;
  line-height: 2;
  text-align: left;
  color: #333333;
     top: 23.36vh;
  left: 3.88vw;
}
.Vector-Smart_Object
{
  width:  6.453851492019431vw;
  height:  5.62015503875969vh;
margin-top:10.562015503875969vh;
margin-left:19.011103400416378vw;
}
.Good-start-43-questions-answered
{
font-family: Montserrat;
  font-size: 1.73vh;
margin-top : -2.9410852713178294vh;
margin-left : 3.246079111727966vw;
}
.Participated-in-8-discussions
{
margin-top : -2.6410852713178294vh;
margin-left : 3.246079111727966vw;

}
#Rounded-Rectangle-1-copy-3 {
  width:  20.402498265093683vw;
  height: 21.608527131782946vh;
  background-color: #f2716f;
  box-shadow: 0px 6px 24px 0 rgba(0, 0, 0, 0.08); 
  margin-top:22.093023255813954vh;
  margin-left :-1.17vw;
  float:left;
  padding : 0;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
}
#Ellipse-1 {
  width:  8.049965301873698vw;
  height: 11.24031007751938vh;
  background-color: #f2716f;
  border: solid 2px #ffffff;
  margin: 1.8410852713178294vh  6.315058986814712vw 0vh  6.037473976405274vw;
  float:top;
  border-radius: 6vw;
}

#Your-Rank {
  width:  4.9271339347675225vw;
  height: 1.065891472868217vh;
  font-family: Montserrat;
  font-size:  1.3565891472868217vh;
  line-height: 2;
  text-align: center;
  color: #ffffff;
  margin-left: 7.633587786259542vw;
  margin-top: 2.131782945736434vh;
  float:top;
}
#layer {
  width:  2.359472588480222vw;
  height: 4.166666666666667vh;
  font-family: Montserrat;
  font-size:  5.813953488372093vh;
  font-weight: 500;
  line-height: 0.47;
  text-align: center;
  color: #ffffff;
  margin-left: 2.775850104094379vw;
  margin-top:3.585271317829457vh;
 margin-bottom:3.585271317829457vh;
 margin:right: 2.775850104094379vw;
  
}
.VIEW-LEADERBOARD {
  color: #ffffff;
  margin-left:4.857737682165163vw;
  margin-top:3.585271317829457vh;
  float:bottom;
  width:  10.47883414295628vw;
  height: 1.3565891472868217vh;
  font-family: Montserrat;
  font-size:  1.3565891472868217vh;
  line-height: 1;
  text-align: center;
}
.VIEW-LEADERBOARD:hover {
  text-decoration: none;
  color: #ffffff;
}
#PLAY {
  width:  8.188757807078417vw;
  height: 3.294573643410853vh;
  font-family: Montserrat;
  font-size: 4.651162790697675vh;
  line-height: 0.58;
  text-align: right;
  color: #333333;
  margin-left: 22.276197085357392vw;
  margin-top:3.488372093023256vh;
  float:bottom;
}

#FAITH-BASED-DEGREE-PROGRAMS {
  width:  21.443442054129076vw;
  height: 1.3565891472868217vh;
  font-family: Montserrat;
  font-size: 1.744186046511628vh;
  font-weight: 300;
  line-height: 1.56;
  text-align: right;
  color: #333333;
  margin-left:8.952116585704372vw;
  padding:4px;
}
#Rounded-Rectangle-1-copy-2 {
  width:  19.63913948646773vw;
  height: 3.488372093023256vh;
  border-radius: 18px;
  background-color: #ffffff;
  border: solid 1px #a173a9;
  margin-top:14.437984496124031vh;
  margin-left: 8.813324080499653vw;
}
#FEEDBACK {
  width:  6.59264399722415vw;
  height: 1.1627906976744187vh;
  font-family: Montserrat;
  font-size: 1.5503875968992247vh;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: center;
  color: #a173a9;
  margin-left: 6.59264399722415vw;
 margin-top:0.889922480620154vh;
 position : absolute;
}
#Rounded-Rectangle-1-copy {
  width:  19.63913948646773vw;
  height: 3.488372093023256vh;
  border-radius: 18px;
  background-color: #f2716f;
margin-left: 8.813324080499653vw;
margin-top:1.3565891472868217vh;
}

#LEARN-MORE{
  width:  8.049965301873698vw;
  height: 1.1627906976744187vh;
  font-family: Montserrat;
  font-size:  1.4534883720930232vh;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: center;
  color: #ffffff;
 margin-left: 5.829285218598196vw;
 margin-top:1.1327906976744187vh;
position : absolute;
}
#HIGH{
  width:  1.4534883720930232vh;
  height: 1.1627906976744187vh;
  font-family: Montserrat;
  font-size:  1.5503875968992247vh;
  font-weight: bold;
  line-height: 1.75;
  text-align: center;
  color: #6e6c83;
  margin-left:11.242192921582234vw;
  float:left;
  margin-top:3.197674418604651vh;
}
#MIDDLE {
  width: 4.371963913948647vw;
  height: 1.1627906976744187vh;
  font-family: Montserrat;
  font-size:  1.5503875968992247vh;
  font-weight: bold;
  line-height: 1.75;
  text-align: center;
  color: #6e6c83;
  margin-left:19.973629424011104vw;
margin-top:3.197674418604651vh;
float:left;
}
#ELEMENTARY {
  width: 7.702984038861901vw;
  height: 1.1627906976744187vh;
  font-family: Montserrat;
  font-size: 1.5503875968992247vh;
  font-weight: bold;
  line-height: 1.75;
  text-align: center;
  color: #6e6c83;
  margin-left: 15.475364330326162vw;
  margin-top:3.197674418604651vh;
  float:left;
}
#Rounded-Rectangle-1-copy-4 {
  width: 60vw;
  height: 6.492248062015504vh;
  opacity: 0.3;
  border-radius: 4px;
  background-color: #000000;
  box-shadow: 0px 6px 24px 0 rgba(0, 0, 0, 0.08);
  margin-left:1.7349063150589867vw;
  margin-top:2.3255813953488373vh;
  float:left;
}
#QUESTION-OF-THE-DAY {
  width: 11.311589174184594vw;
  height: 1.2596899224806202vh;
  font-family: Montserrat;
  font-size: 1.5503875968992247vh;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  color: #ffffff;
  margin-left:1.1103400416377516vw;
  margin-top:1.2596899224806202vh;
}
.shape-18 {
  width: 24px;
  height: 24px;

  object-fit: contain;
  background-color: #ffffff;
}
.shape-18-div
{
margin-left : 56.69326856349757vw;
margin-top :  -2.9472868217054264vh;
}

#Which-one-of-the-following-is-NOT-an-element-in-the-Periodic-Ta {
  width: 32.68563497571131vw;
  height: 1.3565891472868217vh;
  font-family: Montserrat;
  font-size: 1.5503875968992247vh;
  line-height: 2;
  text-align: left;
  color: #ffffff;
  margin-top:0.5813953488372093vh;
  margin-left:1.1103400416377516vw;
}
