.Rectangle-1-copy {
	width: 10vw;
	height: 100vh;
	background-color: #ffffff;
	box-shadow: 0px 6px 24px 0 rgba(0, 0, 0, 0.14);
}
.Shape-17 {
	width: 0.1vw;
	height: 100vh;
	opacity: 0.2;
	background-color: #000000;
	border: solid 1px #000000;
}
.edmodo_logo-copy {
	width: 2.6vw;
	height: 6vh;
	object-fit: contain;
	background-color: transparent;
	margin-left: 1.2vw;
	margin-top: 2vh;
}
.Shape-24 {
	width: 1.1vw;
	height: 3.6vh;
	object-fit: contain;
	background-color: transparent;
}
.Rectangle-4-copy-2 {
	height: 21vh;
	border-radius: 1vw;
	background-color: #b4b7d7;
}
.Vector-Smart-Object {
	width: 5vw;
	height: 10.5vh;
	object-fit: contain;
	background: transparent;
}
.ELEMENTARY-English---5th-Grade {
	font-family: Montserrat;
	font-size: 1.4vw;
	text-align: left;
	color: #ffffff;
}
.This-course-helps-you-improve-the-printing-and-typesetting-indu {
	font-family: Montserrat;
	font-size: 1.1vw;
	text-align: left;
	color: #ffffff;
	margin-right: 2vw;
}
.Shape-22 {
	width: 1vw;
	height: 1vh;
	color: #ffffff;
	text-decoration: none;
}
.Shape-22:hover {
	color: #ffffff;
	text-decoration: none;
}
.VIEW-DISCUSSION {
	height: 1vh;
	font-family: Montserrat;
	font-size: 1.1vw;
	text-align: left;
	color: #333333;
}
.VIEW-ANSWER-HISTORY {
	height: 1vh;
	font-family: Montserrat;
	font-size: 1.1vw;
	text-align: left;
	color: #333333;
}
.Which-sentence-shows-correct-punctuation {
	font-family: Montserrat;
	font-size: 1.4vw;
	text-align: left;
	color: #333333;
}
.Rounded-Rectangle-4 {
	width: 46vw;
	height: 5.1vh;
	border-radius: 8px;
	background-color: transparent;
	border: solid 1px #cccccc;
}
.Rounded-Rectangle-4-copy {
	width: 2.6vw;
	height: 5.1vh;
	border-radius: 8px 0 0 8px;
	background-color: transparent;
	border: solid 1px #cccccc;
}
.Rounded-Rectangle-1-copy-2 {
	width: 13.1vw;
	height: 5.3vh;
	border-radius: 3vw;
	background-color: #ffffff;
	border: solid 1px #a173a9;
	margin-top: 50vh;
	margin-left: 25vw;
}
.SKIP {
	height: 2vh;
	font-family: Montserrat;
	font-size: 1.3vw;
	font-weight: bold;
	letter-spacing: 0.1vw;
	text-align: center;
	color: #a173a9;
	margin-top: 0.6vh;
}
.Rounded-Rectangle-1-copy {
	width: 13.1vw;
	height: 5.3vh;
	border-radius: 3vw;
	background-color: #f2716f;
	margin-top: 50vh;
	margin-left: 40vw;
}
.SUBMIT {
	height: 2vh;
	font-family: Montserrat;
	font-size: 1.3vw;
	font-weight: bold;
	letter-spacing: 0.1vw;
	text-align: center;
	color: #ffffff;
	margin-top: 0.6vh;
}
.Rectangle-4-copy-3 {
	width: 25.8vw;
	height: 28.7vh;
	border-radius: 0.8vw;
	background-color: #f0f0f0;
}
.-more-right-answers-to-earn-a-badge-Get-it-quick-to-move-stra {
	width: 19vw;
	font-family: Montserrat;
	font-size: 2.4vh;
	line-height: 1.5;
	text-align: center;
	color: #9294ae;
	margin-top: 15vh;
	margin-left: 3.5vw;
}