{% extends 'lead.html' %}

{% block content %}
<script type="text/javascript">
var no = 0;
</script>
{% for userr in usr %}
<div class="row" style="position:absolute;">
	<div>
		<p class="layer"><script type="text/javascript"> document.write(no += 1)</script></p>
	</div>
	<img src="/home/suyash/Desktop/EdmodoR/edmarket/static/img/rounded-rectangle-2.jpg" srcset="/home/suyash/Desktop/EdmodoR/edmarket/static/img/rounded-rectangle-2@2x.jpg 2x, /home/suyash/Desktop/EdmodoR/edmarket/static/img/rounded-rectangle-2@3x.jpg 3x" class="Rounded-Rectangle-2">
	<img src="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-10.jpg" srcset="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-10@2x.jpg 2x, /home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-10@3x.jpg 3x" class="Shape-10-copy">
	<img src="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-19.jpg" srcset="/home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-19@2x.jpg 2x, /home/suyash/Desktop/EdmodoR/edmarket/static/img/shape-19@3x.jpg 3x" class="Shape-19-copy">

	<div class="layer-2" style="  left:54.4vw;">{{ userr.badges }}</div>
	<div class="layer-2" style="  left:61.06vw;">{{ userr.stars }}</div>

	<img src="/home/suyash/Desktop/EdmodoR/edmarket/static/img/5311630-ce-6-ee-6705-c-0-a-35988-f-3-d-86700-perfect-hair-color-emmy-rossum.jpg" srcset="/home/suyash/Desktop/EdmodoR/edmarket/static/img/5311630-ce-6-ee-6705-c-0-a-35988-f-3-d-86700-perfect-hair-color-emmy-rossum@2x.jpg 2x, /home/suyash/Desktop/EdmodoR/edmarket/static/img/5311630-ce-6-ee-6705-c-0-a-35988-f-3-d-86700-perfect-hair-color-emmy-rossum@3x.jpg 3x" class="ce6ee6705c0a35988f3d86700--perfect-hair-color-emmy-rossum img-circle" style="top:16.32vh; left:2.20vw; position: absolute; width: 4.02vw; height: 7.17vh;">

	<div class="Lisa-Horshington" style="left:7.84vw;top:18.91vh;position: absolute;">
		<p>{{ userr.username }}</p>
	</div>
</div><br><br><br><br>
{% endfor %}
{% endblock %}